default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\Tests\oe_corporate_site_info\Behat\CorporateSiteInformationContext
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      ajax_timeout: 10
      javascript_session: selenium2
      browser_name: "${selenium.browser}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "${selenium.browser}", "version": "*" }
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
  formatters:
    progress: ~
